# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/
out/
.vscode/
.idea/
.vs/
_TemporaryGeneratedFile_/
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo
*.user


# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
